In [1]:
# Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
# algorithms that are not affected by missing values.
# Ans 1:Missing values in a dataset are the values that are not present for a particular variable or observation. 
# These values can be represented by various symbols, such as "NA", "NaN", or "?".
# Missing Values
# Missing values occurs in dataset when some of the informations is not stored for a variable There are 3 mechanisms:
# 1.Missing Completely at Random, MCAR
# 2.Missing at Random MAR
# 3.Missing data not at random MNAR
# Some algorithms that are not affected by missing values include tree-based models, such as decision trees,
# random forests, and gradient boosting machines, as they can automatically handle missing values.

In [1]:
# Q2: List down techniques used to handle missing data. Give an example of each with python code.
# Ans 2 :here are several techniques used to handle missing data in a dataset. Here are some common techniques with examples in Python:

# Deletion: This technique involves removing the rows or columns containing missing values. There are three types of deletion:
# a. Listwise Deletion: This method involves deleting the entire row that contains the missing value.
import seaborn as sns 
df=sns.load_dataset('titanic')

df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
## rowwise deletion
df.dropna().shape

(182, 15)

In [3]:
df.dropna(axis=1)

,survived,pclass,sex,sibsp,parch,fare,class,who,adult_male,alive,alone
0,0,3,male,1,0,7.2500,Third,man,True,no,False
1,1,1,female,1,0,71.2833,First,woman,False,yes,False
2,1,3,female,0,0,7.9250,Third,woman,False,yes,True
3,1,1,female,1,0,53.1000,First,woman,False,yes,False
4,0,3,male,0,0,8.0500,Third,man,True,no,True
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,13.0000,Second,man,True,no,True
887,1,1,female,0,0,30.0000,First,woman,False,yes,True
888,0,3,female,1,2,23.4500,Third,woman,False,no,False
889,1,1,male,0,0,30.0000,First,man,True,yes,True
890,0,3,male,0,0,7.7500,Third,man,True,no,True

In [4]:
df['Age_mean']=df['age'].fillna(df['age'].mean())

In [5]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age_mean
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000

In [ ]:
 # Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?
# Ans 3:Imbalanced data refers to a situation in which the distribution of classes in a dataset is not equal. In other words, some
# classes have significantly more examples than others. For example, if a binary classification problem has 90% positive examples
# and only 10% negative examples, the dataset is imbalanced.

# If imbalanced data is not handled, it can lead to biased machine learning models that perform poorly on the minority class. 
# In particular, the model will tend to predict the majority class more often than the minority class, which can result in very
# high accuracy but poor performance in practice. This is because the model may not have learned enough about the minority class 
# to make accurate predictions, due to the lack of training examples.

# For example, in the case of medical diagnosis, if the data is imbalanced and there are more healthy patients than sick ones,
# a model trained on such data will tend to predict that a new patient is healthy, even if they have symptoms of the disease. 
# This can lead to missed diagnoses and serious consequences for the patient.

In [ ]:
# Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
# sampling are required.
# Ans-
#      Up-sampling and down-sampling are techniques used to balance the class distribution in an imbalanced dataset.

# Down-sampling involves randomly removing samples from the majority class to match the number of samples in the minority class. This technique is used when the dataset is large, and the majority class has a much higher number of samples than the minority class. For example, in a dataset with 1000 samples, where 950 samples belong to the majority class and 50 samples belong to the minority class, down-sampling can be used to randomly remove 900 samples from the majority class, leaving 50 samples in each class.

#     Here's an example of down-sampling using the Python sklearn library:

from sklearn.utils import resample

# assuming we have majority_class_samples and minority_class_samples as dataframes
# Downsample majority class
downsampled_majority = resample(majority_class_samples, replace=False, n_samples=len(minority_class_samples), random_state=42)

# Combine minority class with downsampled majority class
downsampled_df = pd.concat([downsampled_majority, minority_class_samples])
# Up-sampling, on the other hand, involves randomly replicating samples from the minority class to increase their number and match the number of samples in the majority class. This technique is used when the dataset is small, and the minority class has much fewer samples than the majority class. For example, in a dataset with 100 samples, where 10 samples belong to the minority class and 90 samples belong to the majority class, up-sampling can be used to randomly replicate the minority class samples to make a total of 90 samples in each class.

    Here's an example of up-sampling using the Python sklearn library:

from sklearn.utils import resample

# assuming we have majority_class_samples and minority_class_samples as dataframes
# Upsample minority class
upsampled_minority = resample(minority_class_samples, replace=True, n_samples=len(majority_class_samples), random_state=42)

# Combine majority class with upsampled minority class
upsampled_df = pd.concat([majority_class_samples, upsampled_minority])
# It is important to note that both up-sampling and down-sampling have their own advantages and disadvantages, and the choice between them should be based on the specific problem and dataset at hand.

In [ ]:
# Q5: What is data Augmentation? Explain SMOTE.
# Ans-
#     Data augmentation is a technique used to increase the size of a dataset by creating new examples by applying various transformations on the existing data. It is a commonly used technique in machine learning to deal with limited data availability and to improve the performance of models.

# SMOTE (Synthetic Minority Over-sampling Technique) is a data augmentation method used to deal with imbalanced datasets. It creates synthetic samples of the minority class by generating new examples based on the existing minority class samples. The basic idea of SMOTE is to interpolate between the feature vectors of the minority class samples to create new synthetic samples.

# The SMOTE algorithm works as follows:

# 1.For each sample in the minority class, find its k nearest neighbors.
# 2.Select one of the k neighbors randomly, and compute the difference between the feature vector of the sample and the feature vector of the selected neighbor.
# 3.Multiply this difference by a random value between 0 and 1, and add the result to the feature vector of the minority class sample to create a new synthetic sample.
# 4.Repeat steps 2 and 3 to create the desired number of new synthetic samples.

# SMOTE helps to balance the class distribution in the dataset and improves the performance of machine learning models, especially for classification problems. It is commonly used in applications such as fraud detection, medical diagnosis, and customer churn prediction.

In [13]:
# Q6: What are outliers in a dataset? Why is it essential to handle outliers?
# Ans-
#    Outliers are data points that lie far away from the rest of the data in a dataset. Outliers can occur due to various reasons such as measurement errors, incorrect data entry, or natural variation in the data.

# It is essential to handle outliers because they can have a significant impact on statistical analyses and machine learning models. Outliers can lead to inaccurate estimates of summary statistics, biased results, and reduced model performance.

# There are several techniques to handle outliers, including:

# 1.Removing outliers: In this approach, outliers are identified and removed from the dataset. However, this approach can lead to a loss of information and may not always be the best option.

# 2.Winsorizing: This approach involves capping the extreme values in the dataset at a certain percentile value. This method can help reduce the influence of outliers without completely removing them.

# 3.Transformation: This approach involves transforming the data to reduce the impact of outliers. For example, taking the log of the data can help normalize the distribution and reduce the impact of outliers.

# 4.Robust statistical methods: These methods are designed to be less sensitive to outliers. For example, the median is a more robust measure of central tendency than the mean.

# 5.Machine learning algorithms: Some machine learning algorithms, such as decision trees and random forests, are less sensitive to outliers than others.

#     Example of outlier removal with Python code:

import pandas as pd
import numpy as np

# create a sample dataset with outliers
data = pd.DataFrame({'A': np.random.normal(0, 1, 100),
                     'B': np.random.normal(0, 1, 100),
                     'C': np.random.normal(0, 1, 100)})
data.loc[0, 'A'] = 10  # add outlier

# identify and remove outliers
q1 = data.quantile(0.25)
q3 = data.quantile(0.75)
iqr = q3 - q1
data_clean = data[~((data < (q1 - 1.5 * iqr)) | (data > (q3 + 1.5 * iqr))).any(axis=1)]

print('Original data shape:', data.shape)
print('Cleaned data shape:', data_clean.shape)

   # Example of Winsorizing with Python code:

import pandas as pd
import numpy as np

# create a sample dataset with outliers
data = pd.DataFrame({'A': np.random.normal(0, 1, 100),
                     'B': np.random.normal(0, 1, 100),
                     'C': np.random.normal(0, 1, 100)})
data.loc[0, 'A'] = 10  # add outlier

# Winsorize the extreme values
p = 0.05  # percentiles to cap at
data_winsorized = data.apply(lambda x: np.clip(x, x.quantile(p), x.quantile(1-p)))

print('Original data:\n', data.head())
print('\nWinsorized data:\n', data_winsorized.head())

Original data shape: (100, 3)
Cleaned data shape: (96, 3)
Original data:
            A         B         C
0  10.000000 -1.311498  1.290997
1  -0.748009  0.208490 -0.418629
2  -0.465340 -0.400057  0.219025
3  -0.317286  0.353893 -1.733128
4   0.497959  0.389372 -0.474089

Winsorized data:
           A         B         C
0  1.691657 -1.247918  1.290997
1 -0.748009  0.208490 -0.418629
2 -0.465340 -0.400057  0.219025
3 -0.317286  0.353893 -1.524117
4  0.497959  0.389372 -0.474089

In [16]:
# Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
# the data is missing. What are some techniques you can use to handle the missing data in your analysis?
# Ans-
#    There are several techniques that can be used to handle missing data in customer data analysis. Some of these techniques are:

# 1.Deletion: This technique involves removing the rows or columns that contain missing values. This technique can be used when the missing values are very few in number and are randomly distributed. There are two types of deletion techniques:

#     a. Listwise deletion: In this technique, the entire row is deleted if it contains any missing value.

#     b. Pairwise deletion: In this technique, only the missing values are ignored for each calculation.

# 2.Mean/median imputation: In this technique, the missing values are replaced with the mean or median value of the respective feature. This technique can be used when the missing values are few and the data is normally distributed.

# 3.Mode imputation: In this technique, the missing values are replaced with the mode value of the respective feature. This technique can be used when the missing values are few and the data is categorical.

# 4.Regression imputation: In this technique, a regression model is used to predict the missing values based on the values of other features. This technique can be used when the missing values are non-random and the data has a linear relationship.

# Example code:

import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Creating a sample dataset with missing values
data = pd.DataFrame({'A': [1, 2, np.nan, 4, 5], 'B': [6, np.nan, 8, 9, 10]})

# Mean imputation
imputer = SimpleImputer(strategy='mean')
data_mean = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

# Mode imputation
imputer = SimpleImputer(strategy='most_frequent')
data_mode = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

# Regression imputation
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
x_train = data.dropna().drop('A', axis=1)
y_train = data.dropna()['A']
x_test = data[data['A'].isna()].drop('A', axis=1)
y_test = lin_reg.fit(x_train, y_train).predict(x_test)
data_regression = data.copy()
data_regression.loc[data['A'].isna(), 'A'] = y_test

# Deletion
data_deletion = data.dropna()

In [ ]:
Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?
Ans-
   There are various strategies that can be used to determine if the missing data is missing at random or if there is a pattern to the missing data. Here are some common techniques:

1.Visualization: One approach is to create visualizations of the missing data. For example, you can use a heatmap to visualize the missing data across different variables. If the missing data is random, then the heatmap will show a random pattern of missing data across different variables. However, if there is a pattern to the missing data, then the heatmap will show clusters of missing data across certain variables.

2.Statistical tests: Another approach is to use statistical tests to determine if the missing data is missing at random or not. One common test is the Little's MCAR (Missing Completely At Random) test. This test checks if the missing data is independent of both observed and unobserved data. If the test fails to reject the null hypothesis, then the missing data can be considered missing at random.

3.Imputation: Another approach is to use imputation methods to fill in the missing data. By comparing the imputed values to the actual values, it is possible to determine if there is a pattern to the missing data. For example, if the imputed values are consistently higher or lower than the actual values, then there may be a systematic bias in the missing data.

Overall, it is important to carefully examine the missing data to determine if it is missing at random or if there is a pattern to the missing data. This can help inform the choice of imputation method or other strategies for handling the missing data.

In [ ]:
Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?
Ans-
    When working with imbalanced datasets, it's important to use evaluation metrics that are sensitive to both the minority and majority classes. Some strategies for evaluating the performance of a machine learning model on an imbalanced dataset include:

1.Confusion matrix: A confusion matrix provides information on the true positives, true negatives, false positives, and false negatives in a classification problem. It's a useful tool for understanding the performance of a model on imbalanced datasets.

2.Precision, Recall, and F1-score: Precision is the ratio of true positives to the total number of positive predictions made by the model. Recall is the ratio of true positives to the total number of actual positive cases in the dataset. F1-score is the harmonic mean of precision and recall. These metrics are useful for evaluating the performance of a model on imbalanced datasets.

3.ROC-AUC Curve: ROC-AUC (Receiver Operating Characteristic - Area Under the Curve) curve is another useful tool for evaluating the performance of a model on imbalanced datasets. It shows the trade-off between sensitivity (recall) and specificity (true negative rate) at different classification thresholds.

4.Resampling Techniques: There are several resampling techniques that can be used to balance the class distribution in the dataset. For example, upsampling the minority class, downsampling the majority class, or using synthetic data generation techniques like SMOTE. These techniques can be used to balance the dataset before training the model.

5.Cost-Sensitive Learning: Cost-sensitive learning is a technique that assigns different costs to different types of errors. For example, a false negative in a medical diagnosis task can be more costly than a false positive. By assigning different costs to different types of errors, the model can be optimized to minimize the overall cost of errors.

6.Ensemble Learning: Ensemble methods can be used to combine multiple models to improve the overall performance on imbalanced datasets. For example, a combination of oversampled and undersampled models can be used to achieve better performance on imbalanced datasets.

In [ ]:
Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?
Ans-
    If the majority class is overrepresented in a dataset, it can be downsampled to balance the dataset. Here are some methods that can be employed to balance the dataset and down-sample the majority class:

1.Random under-sampling: In this method, a random sample of the majority class is removed to balance the dataset. However, this method may result in the loss of useful information.

   Here's an example of random under-sampling using Python:

from sklearn.utils import resample

# Separate majority and minority classes
majority_class = df[df.satisfaction == 'satisfied']
minority_class = df[df.satisfaction == 'unsatisfied']

# Downsample majority class
majority_downsampled = resample(majority_class, replace=False, n_samples=len(minority_class), random_state=42)

# Combine minority class with downsampled majority class
downsampled = pd.concat([majority_downsampled, minority_class])

# Check the class distribution
downsampled.satisfaction.value_counts()

2.Cluster-based under-sampling: In this method, the majority class is divided into clusters, and a representative sample is taken from each cluster.

3.Tomek links: In this method, the samples of the majority and minority class are linked, and the samples that form a Tomek link are identified. The majority class samples that form Tomek links are removed.

4.Edited nearest neighbors: In this method, the majority class samples that are misclassified by their k-nearest neighbors are removed.

5.Synthetic Minority Over-sampling Technique (SMOTE): This method creates synthetic samples of the minority class by interpolating between the existing samples.

   Here's an example of using SMOTE for up-sampling the minority class in Python:

from imblearn.over_sampling import SMOTE

# Separate majority and minority classes
majority_class = df[df.satisfaction == 'satisfied']
minority_class = df[df.satisfaction == 'unsatisfied']

# Upsample minority class using SMOTE
sm = SMOTE(random_state=42)
X_resampled, y_resampled = sm.fit_resample(X, y)

# Check the class distribution
y_resampled.value_counts()

In [ ]:
Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?
Ans-
   If the dataset is unbalanced with a low percentage of occurrences of the event of interest, we can use the following methods to balance the dataset and up-sample the minority class:

1.Random oversampling: This method involves randomly selecting samples from the minority class with replacement to create a balanced dataset.

2.Synthetic Minority Over-sampling Technique (SMOTE): SMOTE is a popular technique for oversampling the minority class. It involves creating synthetic examples of the minority class by interpolating between neighboring samples.

3.ADASYN: ADASYN is another technique that is similar to SMOTE but focuses on generating synthetic samples in regions where the class imbalance is highest.

    Here is an example of how to use the SMOTE technique in Python:

from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE().fit_resample(X, y)


In this code snippet, X and y are the feature and target variables, respectively. The SMOTE() function is used to perform the oversampling operation, and the fit_resample() method is used to transform the data. The resulting X_resampled and y_resampled arrays contain the balanced dataset.